<!DOCTYPE html>
<html>
<head>
  <title >Login</title>
<!--  <script src="/js/login.js"></script>-->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1 style="text-align: center">상황극 채팅하기</h1>
<form id="loginForm" prependId = "false" action="/login" method="POST">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Login">
</form>
<p style="text-align: center">Don't have an account? <a href="signUpPage">Sign Up</a></p>
</body>
</html>