<!-- signup.html -->

<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/signup.js"></script>
</head>
<body>
<h1 style="text-align: center">Sign Up</h1>
<form id="signupForm">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Sign Up">
</form>
</body>
</html>